amqp
billiard
celery
certifi
chardet
click
Flask
gunicorn
honcho
idna
itsdangerous
Jinja2
kombu
MarkupSafe
nltk
numpy
psycopg2
psycopg2-binary
pyaml
pytz
PyYAML
redis
requests
rq
six
slackclient
urllib3
vine
websocket-client
Werkzeug